<div class="main mat-typography">
    <div>
      <mat-vertical-stepper linear #stepper>


        <mat-step>
          <ng-template matStepLabel>Add New Application Scan</ng-template>
          <div>
            <h3>Add a new trigger</h3>
            <div class="button-row">
              <button mat-raised-button color="primary" (click)= "addTrigger = true" [disabled] = "addTrigger" matStepperNext>Add Trigger</button>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Choose Option</ng-template>
          <div class="promoted-row" *ngIf="addTrigger === true">
            <button mat-raised-button color="primary" (click)="Location = true"  [disabled]="Timeframe" [disabled]="Cost">New Location Trigger</button>
            <mat-spinner *ngIf="addTriggerAdding1 === true" [diameter]="30"></mat-spinner>
          </div>
     </mat-step>

      <mat-step>
          <div class="promoted-row" *ngIf="addTrigger === true">
            <button mat-raised-button color="primary" (click)="Timeframe = true" [disabled]="Location" [disabled]="Cost">New Timeframe Trigger</button>
            <mat-spinner *ngIf="addTriggerAdding1 === true" [diameter]="30"></mat-spinner>
          </div>
      </mat-step>

      <mat-step>
        <div class="promoted-row" *ngIf="addTrigger === true">
          <button mat-raised-button color="primary" (click)="Cost = true"  [disabled]="Timeframe" [disabled]="Location">New Cost Trigger</button>
          <mat-spinner *ngIf="addTriggerAdding1 === true" [diameter]="30"></mat-spinner>
        </div>
    </mat-step>


<!-- LOCATION TRIGGER ----------------------------------------------------------------------------------------------->

<!--
<mat-step>
  <div class="promoted-row" *ngIf="Location === true" [value]="state">
  <mat-form-field>
    <mat-label (click)="SELECT = true" >Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="Kansas">Kansas</mat-option>
      <mat-option value="Missouri">Missouri</mat-option>
      <mat-option value="Ohio">Ohio</mat-option>
    </mat-select>
  </mat-form-field>

  <p>You selected: {{selected}}</p>

  <button mat-raised-button color="primary" (click)="DONE = true">OKAY</button>

</div>
</mat-step>
-->
<!-- /LOCATION TRIGGER END -->

<!-- TIMEFRAME TRIGGER ----------------------------------------------------------------------------------------------->










<!-- /TIMEFRAME TRIGGER END -->

      </mat-vertical-stepper>
    </div>



  </div>
