.main{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20em;
    row-gap: 20em;
  
  }
  
  .app-row{
    display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 1fr 0.1fr;
    grid-gap: 1em;
  }
  
  .search-field{
    display: grid;
    grid-gap: 1em;
  }
  
  
  .sandbox-row{
    display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 3fr 0.1fr;
    grid-gap: 1em;
  }
  
  .promoted-row{
    display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 3fr 1fr;
    grid-gap: 1em;
    padding: 20px;
  }
  
  .button-row{
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .mat-select-value {
    background-color: red;
  }