.container {
    display: flex;
    justify-content: center;
    color: #306237;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    background-size: 100%;
}

img {
    width: 65%;
}