<mat-toolbar class="mat-typography">
  <mat-toolbar-row class="header">
    <span class="toolbar">
      <h1>Commerce Trigger Tracker - Notifications</h1>
    </span>
    <span class="spacer"></span>
    <span>
      <button mat-icon-button matTooltip="Refresh Table" aria-label="Refresh Table">
        <mat-icon aria-hidden="false" aria-label="Refresh Table">refresh</mat-icon>
      </button>
      <button mat-raised-button class="toolbarButton" (click)="toDashBoard()">Return to dash</button>
    </span>

    <!--<div class = "logout">Logout</div>-->
  </mat-toolbar-row>
</mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="notificationID">
      <th mat-header-cell *matHeaderCellDef> Notification ID </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.notificationID}} </td>
    </ng-container>

    <ng-container matColumnDef="typeOfNotification">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.typeOfNotification}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.date}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
