.toolbar {
    background-color: #306237;
    height: 10%;
    text-align: center;
    padding-top: 25px;
    font-size: 3vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #393F3A;
}

.toolbarButton {
    margin: auto;
    text-align: center;
    background-color: white;
    color: green;
    float: left;
    margin-left: 20px;
}

table {
    width: 100%;
  }

.icon {
    padding: 0 14px;
    padding-top: 55px;
  }
  
.spacer {
    flex: 1 1 auto;
  }