<div class = "container"><img src = "https://www.commercebank.com/-/media/cb/images/about-us/mediakit-logos/2018cbcagreenverticalfdic.png" alt="Commerce Logo">
</div>
<div class = "container"><h2> Login to your account</h2></div>

<div class="container2">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="Email Address" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
      </mat-form-field>
</div>

<div class="container2">
<mat-checkbox>Remember me!</mat-checkbox>
</div>

  <div class="container2">
  <div class= "links"><label>
    Forgot your password?
</label></div>
</div>

<div class="container2">
<div class= "links"><label>
    Need an account?
</label></div><br>
</div>

  <div class="container3">
    <button mat-raised-button color="#393F3A">Log In</button>
  </div>































<!-- <div class="login-content">
    <mat-card>
        <form class="login-form">

            <div>
               <div class= "prompts"> <label for="user"><b>Username: </b></label>
                <input type="text" placeholder="Enter Username" name="user" required><br><br></div>
            
                <div class= "prompts"><label for="password"><b>Password: </b></label>
                <input type="password" placeholder="Enter Password" name="password" required><br><br></div>

                <div class= "links"><label>
                    Forgot your password?
                </label></div>

                <div class= "links"><label>
                    Need an account?
                </label></div><br>


                <div class= "prompts"><label>
                  <input type="checkbox" checked="checked" name="rememberme">Remember me
                </label><br><br></div>
                
                <button type="submit">Login</button>
              </div>
        </form>
    </mat-card>
</div> -->