.container {
    display: flex;
    justify-content: center;
    color: #306237;
    font-size: 300%; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.container3{
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}


img {
    width: 65%;
}

h2 {
    text-align: center;
    color: #393F3A;
    padding: 5px;
    background-color: lightgray;
    font-size: 100%;
}

.mat-card {
    background-color: lightgray;
    text-align: center;
}

loginForm{
    display: flex;
    flex-direction: column;
}


.prompts{
    color: #393F3A;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.links{
    color: #393F3A;
    font-size: 12px;
}

.login-content{
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  body {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }