.main{
    display: grid;
  
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
  
  .edit-header{
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  
  .id-info{
    display: grid;
    align-content: left;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
  }
  
  .input-row{
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .mat-select-value {
    background-color: red;
  }

  .promoted-row{
    display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 3fr 1fr;
    grid-gap: 1em;
    padding: 20px;
  }
  


  // //////////////////////////////////@extend
    
  
  .app-row{ display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 1fr 0.1fr;
    grid-gap: 1em;
  }
  
  .search-field{
    display: grid;
    grid-gap: 1em;
  }
  
  
  .sandbox-row{
    display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 3fr 0.1fr;
    grid-gap: 1em;
  }
  
  .promoted-row{
    display:grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 3fr 1fr;
    grid-gap: 1em;
    padding: 20px;
  }
  
  .button-row{
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .mat-select-value {
    background-color: red;
  }