<div class="main mat-typography">
  <h2 class="edit-header">Edit Trigger</h2>

  <div class="id-info">
    <h3 class="subheading-1">Trigger ID:</h3>
    <p>{{entryAppID}}</p>
    <h3 class="subheading-1">Functionality:</h3>
    <p>{{entryBuildID}}</p>
    <h3 class="subheading-1">Current Settings:</h3>
    <p>{{entrySandboxID}}</p>
  </div>
  <!------------------------------------------------------------------ EDIT STATE TRIGGER -------------------------------------------------------------------- -->

  <div>
    <div class="promoted-row" [value]="state">
      <mat-form-field>
        <mat-label (click)="SELECT = true">Select a state</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="Kansas">Kansas</mat-option>
          <mat-option value="Missouri">Missouri</mat-option>
          <mat-option value="Ohio">Ohio</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{selected}}</p>
      <button mat-raised-button color="primary" (click)="DONE = true" matStepperNext>SUBMIT</button>
    </div>

  <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> -->

  <!------------------------------------------------------------------ EDIT LOCATION TRIGGER -------------------------------------------------------------------- -->

  <div class="input-row">
    <mat-form-field>
      <mat-label> Primary Language:</mat-label>
      <input matInput placeholder="Ex: Python" [formControl]="primaryLanguageInput">
    </mat-form-field>
  </div>

  <div class="input-row">
    <button mat-raised-button color="primary" (click)="updateAppEntry()" type="submit"
      [disabled]="!enteredValue()">Submit Changes</button>
  </div>

</div>