<mat-toolbar>


      <mat-toolbar-row>
        <span class ="toolbar">Commerce Trigger Tracker Application Dashboard</span>
        <span class="spacer"></span>
        <button mat-icon-button matTooltip="To notifications" [matTooltipPosition]="abovePosition" (click)="toViewNotifications()" aria-label="Add App">
          <mat-icon class="icon" aria-hidden="false" aria-label="ViewNotifications">notification_important</mat-icon>
        </button>
        <mat-icon class="icon" aria-hidden="false" aria-label="Add New Trigger">note_add</mat-icon>
        <mat-icon class="icon" aria-hidden="false" aria-label="See Old Triggers">list</mat-icon>
        <div class = "logout">Logout</div>
    </mat-toolbar-row>


</mat-toolbar>




























<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="accountID">
    <th mat-header-cell *matHeaderCellDef> Account ID </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.accountID}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionTime">
    <th mat-header-cell *matHeaderCellDef> Time of Transaction </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.transactionTime}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionType">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.transactionType}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionID">
    <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.transactionID}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.state}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.category}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionDescription">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.transactionDescription}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-button class="seeAllTransactions">See all transactions</button>
