<!-- TS NOT FINISHED -->


<router-outlet>
</router-outlet>




<!-- TS FINISHED -->

<!-- <router-outlet>
  <app-add-triggers></app-add-triggers>
</router-outlet> -->


<!-- TS NOT ASSIGNED -->

<!-- <router-outlet>
  <app-login-screen></app-login-screen>
</router-outlet> -->

<!-- <router-outlet>
  <app-view-transactions></app-view-transactions>
</router-outlet> -->

<!-- <router-outlet>
  <app-view-notifications></app-view-notifications>
</router-outlet> -->

<!-- <router-outlet>
  <app-user-dashboard></app-user-dashboard>
</router-outlet> -->

<!-- <router-outlet>
  <app-view-triggers></app-view-triggers>
</router-outlet> -->
